<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bizhawkz.addarrayproduct">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main5Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewProductActivity" />
        <activity android:name=".MainActivity" />

        <!--
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
        &lt;!&ndash;    <intent-filter>
                <action android:name="com.hmkcode.android.USER_ACTION" />
            </intent-filter>&ndash;&gt;
        </receiver>
        -->

        <activity android:name=".Services" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Svgactivity" />
        <activity android:name=".ScrollDown" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".Uppercase" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".JSONPARSING" />
        <activity android:name=".SecondActivity"></activity>
    </application>

</manifest>